input, button {
  outline: none !important;

  &:focus, &:active, &:visited {
    outline: none !important;
  }
}

h2, h3, p {
  margin: 0;
}

.border-sizing {
  box-sizing: border-box;
  overflow: hidden;
}
