$device-desktop-lg: 1140px;
$device-desktop-md: 960px;
$device-mobile-lg: 768px;
$device-mobile-xs: 576px;

.container {
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $device-desktop-lg) {
    width: 1200px;
  }

  @media (min-width: $device-mobile-lg) and (max-width: $device-desktop-md) {
    width: 992px;
  }

  @media screen and (max-width: $device-mobile-lg) {
    width: 100%;
    margin: 0;
    padding: 16px;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-column-center {
  @extend .flex;
  flex-direction: column;
  justify-content: center;
}

.flex-content-evenly {
  @extend .flex;
  justify-content: space-evenly;
}

.flex-algin-end {
  @extend .flex;
  align-items: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
